
*{
    color: var(--surface-color);
    text-decoration: none;
}

/* ----------------------------------------------- */
/* NAVBAR                                          */
/* ----------------------------------------------- */

.nav-bar {
    background-color: var(--color-bg);
    display: none;
    position: fixed;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 10px;
    flex-direction: column !important;
    transition: all ease-in-out 0.3s;
    box-shadow: 1px 1px 20px 1px rgb(244, 178, 178) inset;
   
    &__nav-list{
        flex-direction: column;
        justify-content:end; 
         padding: 5px;
    } 
    &__ul_nav{
        list-style: none;
    }
    &__nav-item{
      font-size: 20px;
      font-weight: 900;
      padding-top: 10px;
        :hover{
          font-size: 22px;
          background: color-mix(in srgb, var(--surface-color), transparent 90%);
                    }
    }

     /* DESKTOP ->  max 576px  */
    @media screen and (min-width: 576px){
      &{
         background-color: var(--color-bg);
    display: none;
    position: fixed;
    width: 250px;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 10px;
    flex-direction: column !important;
    transition: all ease-in-out 0.3s;
    box-shadow: 1px 1px 20px 1px rgb(244, 178, 178) inset;
    &__nav-list{
        flex-direction: column;
        justify-content:end; 
         padding: 5px;
    } 
    &__ul_nav{
        list-style: none;
    }
    &__nav-item{
      font-size: 28px;
      font-weight: 900;
      padding-top: 2px;
        :hover{
          font-size: 29px;
          background: color-mix(in srgb, var(--surface-color), transparent 90%);
                    }
    }
      }
    }
        /* DESKTOP ->  max 1200px  */
    @media screen and (min-width: 1200px) {
        & {
            display: flex !important;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            padding: 0 10px;
            width: 300px;
            flex-direction: column !important;
            transition: all ease-in-out 0.3s;
            box-shadow: 1px 1px 20px 1px rgb(244, 178, 178) inset;
        } 
        &__nav-list{         
                    flex-direction: column;
                    justify-content:end; 
                    width: 100%;
        }     
        &__nav-item{
          width: 100%;
          margin: 18px 5px;
          padding-top: 0px;
        :hover{
             font-size: 29px;
             background: var(--accent-color);
                    }
    }
    } 
}
.active{
     color: var(--default-color);
     font-size: 22px;
   @media screen and (min-width: 576px){
    font-size: 30px;
   }  
}
 

.active i{
    color: #0d0363;
    font-size: 25px; 
    @media screen and (min-width: 576px){
    font-size: 30px;
   }
}


/* ----------------------------------------------- */
/* LOGO INICIAL G                                  */
/* ----------------------------------------------- */

.logo-name{
  display: block;
  flex-basis: 30px;
  margin-left:10px;
  font-size: 18px;
  @media screen and (min-width: 576px){
  flex-basis: 40px;
  margin-left:10px;
  font-size: 24px;
  }
  @media screen and (min-width: 1200px){
  flex-basis: 40px;
  margin-left:10px;
  font-size: 26px;
  }
}
 .logo{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: var(--color-text);
    height: 100px;
}
 span{
  display: block;
  font-size: 90px;
  font-weight: bolder;
  margin-top: -15px;
  @media screen and (min-width: 576px){
    font-size: 120px;
  }
  @media screen and (min-width: 1200px){
    font-size: 120px;
  }
}

/* ----------------------------------------------- */
/* FOTO MIA REDONDA                                */
/* ----------------------------------------------- */

.rounded-circle {
  border-radius: 50% !important;
  box-shadow: 0 4px 20px (var(--contrast-color))
}
.profile-img{
  text-align: center;
  
}
.profile-img img {
  width: 160px;
  border: 8px solid color-mix(in srgb, var(--default-color), transparent 85%);
  @media screen and (min-width: 576px){
    width: 170px;
  }
  @media screen and (min-width: 1200px){
    width: 190px;
  }
}

/* ----------------------------------------------- */
/* SOCIAL LINK                               */
/* ----------------------------------------------- */
 .social-links {
    margin-top: 10px;
    display: block;
    text-align: center;
    @media screen and (min-width: 576px){
    margin-top: 2px;
  }
  @media screen and (min-width: 1200px){
    margin-top: 15px;
  }
}
.social-links a {
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: color-mix(in srgb, var(--surface-color), transparent 90%);
  color: var(--color-text);
  margin: 0 15px;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
  @media screen and (min-width: 576px){
  width: 50px;
  height: 50px;
  margin: 0 20px;
  font-size: 22px;
  }
  @media screen and (min-width: 1200px){
  width: 60px;
  height: 60px;
  margin: 0 20px;
  font-size: 25px;
  }
}
.social-links a:hover {
  color: var(--contrast-color);
  background: var(--accent-color);
}
